/* Global styles 
------------------------------------*/
/* border box fix --------as i have used two separate containers to in education and work experience section this code will help to have same widths */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
nav {
    background: whitesmoke;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  color: #DC143C;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
/*h3 {
    margin: 0;
}*/
.content-wrap {
  max-width: 1050px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
    margin-bottom: 0;
  /*min-height: 175px;*/

}
.column-wide {
  width: 62%;
  float: left;
  /*min-height: 175px;*/
}


/* Navigation-------
--------------------------------------*/
nav {
    text-align: center;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    color : #DC143C;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}



/* Header & Footer 
------------------------------------*/
header, 
footer {
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}



/* Work Experience
------------------------------------*/
.work {
    background: #F8FCEE;
}
/*h3 ~ p {
    margin: 0;
}*/
/*.column-narrow p {
    margin : 0;
}*/
.company-name p {
    margin: 0;
}

/* Education
------------------------------------*/
.education {
    background: #F1FFFA;
}

/* Personal Skills
-------------------------------------*/
.skills{
    background: #FAF3DD;
}